server:
  port: 9000
spring:
  application:
    name: "tasks"
  profiles:
    active: "prod"
  datasource:
    url: jdbc:mysql://localhost:3306/cardsdb?allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password: root
  jpa:
    show-sql: false
  sql:
    init:
      mode: always
  config:
    import: "optional:configserver:http://localhost:8071/"

management:
  endpoints:
    web:
      exposure:
        include: "*"
